body {
    background-color: hsl(185, 61%, 80%);
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
h1 {
    color: white;
    font-size: 42px;
    text-decoration: underline;
    text-decoration-color: black;
    text-align: center;
}
.logo {
    max-width: 100px;
    margin-left: 30px;
}
.main-header {
    display: flex;
    flex-direction: row;
    background-color: #c6c9c8;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.shop-nav {
    width: 100%;
    background-color:#4a3d28;
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    flex-wrap: wrap;
}
.shop-nav a {
    color: #ffe3b3;
    text-decoration: none;
    padding: 10px;
}
.shop-nav a:hover {
    background-color: #ffe3b3;
    color: #4a3d28;
}
.user-nav a {
    font-size: 32pt;
    text-decoration: none;
    color: #4a3d28;
}
.user-nav {
    margin-right: 30px;
}
.search {
    display: flex;
    min-width: 100px;

}
.search input {
    flex: 1;
    padding: 10px;
}

@media screen and (max-width:480px) {
    .shop-nav {
        flex-direction: column;
    }
    .logo {
        max-width: 60px;
    }
}